
$banxin : 960px;
$headheight:38.4px;
%con{
    width:$banxin;
    margin: 0 auto;
}

.head{
    height:$headheight;
    background: rgba(0,0,0,0.05);
}

.head-con{
    @extend %con;
}

.logo{
    margin-top: 9.6px;
    float: left;
    img{
        height:19.2px!important;
        margin-left: 4px;
    }
}

.headname{
    height:$headheight;
    float: left;
    .line{
        display: block;
        float: left;
        width: 1px;
        height:16px;
        margin:11.2px 12.8px;
        background: rgba(0,0,0,0.2);
    }
    .headtitle{
        display: block;
        float: left;
        font-size: 12.8px;
        font-weight: bold;
        margin-top: 11px;
        color: #191919;
    }
}


