.head-con {
    width: 960px;
    margin: 0 auto;
  }
  
  .head-con {
    width: 960px;
    margin: 0 auto;
  }
  
  .head {
    height: 38.4px;
    background: rgba(0, 0, 0, 0.05);
  }
  
  .logo {
    margin-top: 9.6px;
    float: left;
  }
  .logo img {
    height: 19.2px !important;
    margin-left: 4px;
  }
  
  .headname {
    height: 38.4px;
    float: left;
  }
  .headname .line {
    display: block;
    float: left;
    width: 1px;
    height: 16px;
    margin: 11.2px 12.8px;
    background: rgba(0, 0, 0, 0.2);
  }
  .headname .headtitle {
    display: block;
    float: left;
    font-size: 12.8px;
    font-weight: bold;
    margin-top: 11px;
    color: #191919;
  }
  
  .foot {
    width: 100%;
    padding: 24px 0;
    background: rgba(0, 0, 0, 0.05);
  }
  
  .foot-con {
    margin: 0 auto;
  }
  .foot-con .foota {
    text-align: center;
    line-height: 14px;
    margin: 10px auto 0;
  }
  .foot-con .foota .foot-a {
    font-size: 11.2px;
    padding: 0 10px;
    color: #000;
    opacity: 0.6;
  }
  .foot-con .foota .foot-em {
    color: rgba(0, 0, 0, 0.1);
    line-height: 14px;
  }
  .foot-con .copyright {
    text-align: center;
    color: #000;
    opacity: 0.3;
    line-height: 14px;
    margin: 10px auto 0;
    font-size: 11.2px;
  }


  /*表单内容*/
  .content-con{width: 960px;margin: 0 auto;padding: 150px 50px;overflow: hidden;}
